[submodule "Docker_Magento2"]
	path = Docker_Magento2
	url = git@github.com:VitaminasG/Docker_Magento2.git
[submodule "Prestashop-docker"]
	path = Prestashop-docker
	url = git@github.com:VitaminasG/Prestashop-docker.git
[submodule "Symfony4-docker"]
	path = Symfony4-docker
	url = git@github.com:VitaminasG/Symfony4-docker.git
[submodule "Slim4-docker"]
	path = Slim4-docker
	url = https://github.com/VitaminasG/Slim4-docker
